@using eTimeTrack.Helpers
@using eTimeTrack.Models
@model eTimeTrack.ViewModels.ReconciliationTypesIndexViewModel

@{
    ViewBag.Title = "Reconciliation Types";
    ViewBag.BannerColour = AecomColour.Blue;
}

@Html.Partial("_Banner")
@Html.Partial("_InfoMessageRender")

<p>
    <a href="@Url.Action("CreateReconciliationType")" class="btn btn-primary">Create Reconciliation Type</a>
</p>

<table class="table data-table" width="100%">
    <thead>
    <tr>
        <th data-priority="1">@Html.DisplayNameFor(model => Model.ReconciliationTypes[0].Text)</th>
        <th data-priority="1">@Html.DisplayNameFor(model => Model.ReconciliationTypes[0].Description)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (ReconciliationType item in Model.ReconciliationTypes)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Text)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
        </tr>
    }
    </tbody>
</table>

<a href="@Url.Action("Index", "Manage")" class="btn btn-primary">Back</a>