@using System.Globalization
@model eTimeTrack.ViewModels.UserEndDatesViewModel

@{
    ViewBag.Title = "User End Dates";
}

@Html.Partial("_Banner")
@Html.Partial("_InfoMessageRender")

@using (Html.BeginForm("UserSelect", "UserEndDates", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProjectId)

<div class="row form-group">
    <div class="row form-group">
        <div class="col-md-6">
            @Html.LabelFor(model => model.Project)
            @Html.DropDownList("Project", Model.Project, "Select", new { id = "Project", @class = "form-control Project" })
            @Html.ValidationMessageFor(model => model.Project,"", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            @Html.LabelFor(model => model.Company)
            @Html.DropDownListFor(model => model.Company, Model.Company, "Select", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })

        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            @Html.LabelFor(model => model.EndDate)
            @Html.DropDownListFor(model => model.EndDate, Model.DateSelect, "Select", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            @Html.LabelFor(model => model.NewDate)
            <input  value="@Model.NewDate" class="form-control datepicker" placeholder="Select End date" />
        </div>
    </div>

</div>
   
    <div class="pull-right">
        <input type="submit" id="submit" value="OK" class="btn btn-primary" />
    </div>
    <a href="@Url.Action("Index", "Manage")" class="btn btn-primary">Cancel</a>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    
}

