@using eTimeTrack.Extensions
@using eTimeTrack.ViewModels
@model UserSelectUpdateViewModel

@{
    ViewBag.Title = "Update User End Dates";
}


@Html.Partial("_Banner")
@Html.Partial("_InfoMessageRender")

@using (Html.BeginForm("UserItemSelect", "UserEndDates", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row" style="height:100%; position: relative;">
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label">Please select the User End dates items and click OK to complete the Update end dates.</label>
            </div>

            <p><b>Update User End Dates Details:</b></p>
            <ul>
                <li>ProjectName: @Model.Project</li>
                <li>CompanyName: @Model.Company</li>
                <li>EndDate: @Model.EndDate</li>
                <li>NewDate: @Model.NewDate</li>
            </ul>
        </div>
        <div class="col-md-4" style="position: absolute; bottom: 2em; right: 1px">
            <div class="pull-right">
                <button type="button" class="btn btn-primary checkAll">Toggle Select All (Current Page)</button>
            </div>
        </div>
    </div>

    <table id="UpdateTable" class="table table-striped table-hover data-table" width="100%">
        <thead>
            <tr>
                <th>Company</th>
                <th>User Number</th>
                <th>User Name</th>
                <th>Current End Date</th>
                <th data-orderable="false">Update</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.UserRatesDetails.Count; i++)
            {
                <tr>
                    @Html.HiddenFor(model => model.UserRatesDetails[i].Company_Id)
                    @Html.HiddenFor(model => model.UserRatesDetails[i].Company)
                    <td>@Model.UserRatesDetails[i].Company</td>
                    @Html.HiddenFor(model => model.UserRatesDetails[i].EmployeeID)
                    @Html.HiddenFor(model => model.UserRatesDetails[i].UserNumber)
                    <td>@Model.UserRatesDetails[i].UserNumber</td>
                    @Html.HiddenFor(model => model.UserRatesDetails[i].UserName)
                    <td>@Model.UserRatesDetails[i].UserName</td>
                    @Html.HiddenFor(model => model.UserRatesDetails[i].UserRateId)
                    @Html.HiddenFor(model => model.UserRatesDetails[i].EndDate)
                    <td>@Model.UserRatesDetails[i].EndDate</td>
                    @Html.HiddenFor(model => model.UserRatesDetails[i].NewDate)
                    <td>
                        @Html.CheckBoxFor(model => model.UserRatesDetails[i].Transfer)
                    </td>
                    @Html.HiddenFor(model => model.UserRatesDetails[i].ProjectId)
                    @Html.Hidden("enddate", Request.QueryString["enddate"])
                    @Html.Hidden("projectid", Request.QueryString["project"])
                    @Html.Hidden("newdate", Request.QueryString["newdate"])
                    @Html.HiddenFor(model => model.CompanyId)
                </tr>
            }
        </tbody>
    </table>

    <div class="pull-right">
        <button type="button" class="btn btn-primary checkAll">Toggle Select All (Current Page)</button>
        <input type="submit" id="submit" value="OK" class="btn btn-primary" />
    </div>
    <a href="@Url.Action("UserSelect", "UserEndDates")" class="btn btn-primary">Cancel</a>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {

            // intercept form submission if no hours entered
            $("#submit").click(function () {
                var dataTable = $('#UpdateTable').DataTable();
                dataTable.search('').draw();
                dataTable.page.len(-1).draw();
                return true;
            });

            $(".checkAll").click(function () {
                var firstChecked = $('input:checkbox').first().is(':checked');
                $('input:checkbox').prop('checked', !firstChecked);
            });


        });

    </script>
}

