@using System.Globalization
@model eTimeTrack.ViewModels.UserEndDatesViewModel

@{
    ViewBag.Title = "User End Dates";
}

@Html.Partial("_Banner")
@Html.Partial("_InfoMessageRender")

@using (Html.BeginForm("UserSelect", "UserEndDates", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProjectId)

<div class="row form-group">
    <div class="row form-group">
        <div class="col-md-6">
            @Html.LabelFor(model => model.Project)
            @Html.DropDownList("Project", Model.Project, "Select", new { id = "Project", @class = "form-control Project" })
        </div>

        <div class="col-md-6">
            @Html.LabelFor(model => model.Company)
            @Html.DropDownListFor(model => model.Project, Model.Company, "Select", new { @class = "form-control" })
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            @Html.LabelFor(model => model.EndDate)
            @Html.DropDownListFor(model => model.EndDate, Model.DateSelect, "Select", new { @class = "form-control" })
        </div>

        <div class="col-md-6">
            @Html.LabelFor(model => model.NewDate)
            @Html.DropDownListFor(model => model.NewDate, Model.DateSelect, "Select", new { @class = "form-control" })
        </div>
    </div>

</div>
   
    <div class="pull-right">
        <input type="submit" id="submit" value="OK" class="btn btn-primary" />
    </div>
    <a href="@Url.Action("Index", "Manage")" class="btn btn-primary">Cancel</a>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {

            // project part change
            $('.ProjectPartSelector').change(function () {
                var fromTo = $(this).data('fromto');
                var groupSelector = $('.ProjectGroupSelector[data-fromTo=' + fromTo + ']').first();
                var taskSelector = $('.TaskSelector[data-fromTo=' + fromTo + ']').first();
                var variationSelector = $('.VariationSelector[data-fromTo=' + fromTo + ']').first();

                groupSelector.empty();
                taskSelector.empty();
                variationSelector.empty();

                groupSelector.prop('disabled', true);
                taskSelector.prop('disabled', true);
                variationSelector.prop('disabled', true);

                if ($(this).val() !== 'Select') {
                    $.post('@Url.Action("GetProjectGroupList", "EmployeeTimesheets")',
                        { projectPartId: $(this).val() }).done(function (data) {
                            groupSelector.append($('<option>').text('Select'));
                            for (var i = 0; i < data.length; i++) {
                                groupSelector.append($('<option>', { value: data[i].GroupID }).text(data[i].Name));
                            }

                            if (data.length === 1) {
                                groupSelector[0].selectedIndex = 1;
                                groupSelector.change();
                            }
                            groupSelector.prop('disabled', false);
                            variationSelector.change();
                        });
                } else {
                    variationSelector.change();
                }
            });

            // project group change
            $('.ProjectGroupSelector').change(function () {
                var fromTo = $(this).data('fromto');
                var taskSelector = $('.TaskSelector[data-fromTo=' + fromTo + ']').first();
                var variationSelector = $('.VariationSelector[data-fromTo=' + fromTo + ']').first();

                taskSelector.empty();
                variationSelector.empty();

                taskSelector.prop('disabled', true);
                variationSelector.prop('disabled', true);

                if ($(this).val() !== 'Select') {
                    $.post('@Url.Action("GetTaskList", "EmployeeTimesheets")',
                        { projectGroupId: $(this).val() }).done(function (data) {
                            taskSelector.append($('<option>').text('Select'));
                            for (var i = 0; i < data.length; i++) {
                                taskSelector.append($('<option>', { value: data[i].TaskID }).text(data[i].Name));
                            }
                            if (data.length === 1) {
                                taskSelector[0].selectedIndex = 1;
                                taskSelector.change();
                            }
                            taskSelector.prop('disabled', false);
                            variationSelector.change();
                        });
                } else {
                    variationSelector.change();
                }

            });

            // task change
            $('.TaskSelector').change(function () {
                var fromTo = $(this).data('fromto');
                var variationSelector = $('.VariationSelector[data-fromTo=' + fromTo + ']').first();
                variationSelector.empty();

                variationSelector.prop('disabled', true);

                if ($(this).val() !== 'Select') {
                    $.post('@Url.Action("GetVariationList", "EmployeeTimesheets")',
                        { projectTaskId: $(this).val() }).done(function (data) {
                            variationSelector.append($('<option>').text('Select'));
                            for (var i = 0; i < data.length; i++) {
                                variationSelector.append($('<option>', { value: data[i].VariationID })
                                    .text(data[i].Description));
                            }
                            if (data.length === 1) {
                                variationSelector[0].selectedIndex = 1;
                            }
                            variationSelector.prop('disabled', false);
                            variationSelector.change();
                        });
                } else {
                    variationSelector.change();
                }

            });

            // variation change
            $('.VariationSelector').change(function () {
                var variationSelectors = $('.VariationSelector');
                var bothSelected = true;
                variationSelectors.each(function () {
                    if ($(this).is(':disabled') || $(this).val() == null || $(this).val() === 'Select') {
                        bothSelected = false;
                    }
                });
                $('#submit').prop('disabled', !bothSelected);
            });
        });

    </script>
}

