@using eTimeTrack.Extensions
@using eTimeTrack.ViewModels
@model List<UserSelectviewmodel>

@{
    ViewBag.Title = "User End Dates";
}

@Html.Partial("_Banner")
@Html.Partial("_InfoMessageRender")

@using (Html.BeginForm("UserItemSelect", "UserEndDates", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row" style="height:100%; position: relative;">
        <div class="col-md-4" style="position: absolute; bottom: 2em; right: 1px">
            <div class="pull-right">
                <button type="button" class="btn btn-primary checkAll">Toggle Select All (Current Page)</button>
            </div>
        </div>
    </div>

    <table id="transferTable" class="table table-striped table-hover data-table" width="100%">
        <thead>
            <tr>
                <th>Company</th>
                <th>User Number</th>
                <th>User Name</th>
                <th>Current End Date</th>
                <th data-orderable="false">Update</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Company</td>
                    <td>@item.UserNumber</td>
                    <td>@item.UserName</td>
                    <td>@item.EndDate</td>
                    <td>@Html.CheckBoxFor(model => item.Transfer)</td>
                </tr>
            }
            </tbody>
    </table>

    <div class="pull-right">
        <button type="button" class="btn btn-primary checkAll">Toggle Select All (Current Page)</button>
        <input type="submit" id="submit" value="OK" class="btn btn-primary" />
    </div>
    <a href="@Url.Action("UserSelect", "UserEndDates")" class="btn btn-primary">Cancel</a>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {

            // intercept form submission if no hours entered
            $("#submit").click(function () {
                var dataTable = $('#transferTable').DataTable();
                dataTable.search('').draw();
                dataTable.page.len(-1).draw();
                return true;
            });

            $(".checkAll").click(function () {
                var firstChecked = $('input:checkbox').first().is(':checked');
                $('input:checkbox').prop('checked', !firstChecked);
            });

          
        });

    </script>
}

