@using eTimeTrack.Controllers
@using eTimeTrack.Helpers
@model eTimeTrack.Models.ProjectGuidanceNotes

@{
    ViewBag.Title = "Project Guidance Notes";
}

@Html.Partial("_Banner")
@Html.Partial("_InfoMessageRender")
@using (Html.BeginForm("Create", "GuidanceNotes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProjectId)

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TimeAdministratorContact, new { @class = "control-label col-md-4"})
            <div class="col-md-8">
                @Html.EditorFor(model => model.TimeAdministratorContact, new { htmlAttributes = new { @class = "form-control", placeholder = "Insert email address of eTT Time Administrator for the project", style = "max-width:70%"  } })
                @Html.ValidationMessageFor(model => model.TimeAdministratorContact, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.WBSCodes, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.WBSCodes, new { htmlAttributes = new { @class = "form-control", placeholder = "Yes or No with any commentary", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.WBSCodes, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CapWeeklyHours, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.CapWeeklyHours, new { htmlAttributes = new { @class = "form-control", placeholder = "Insert any hours caps and provide additional commentary", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.CapWeeklyHours, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MatchHours, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.MatchHours, new { htmlAttributes = new { @class = "form-control", placeholder = "Yes or no with commentary if needed", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.MatchHours, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OvertimeApproval, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.OvertimeApproval, new { htmlAttributes = new { @class = "form-control", placeholder = "Insert commentary including email if applicable", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.OvertimeApproval, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NTTimeCodeNote, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.NTTimeCodeNote, new { htmlAttributes = new { @class = "form-control", placeholder = "Insert commentary on how this is applicable if required", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.NTTimeCodeNote, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OT1TimeCodeNote, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.OT1TimeCodeNote, new { htmlAttributes = new { @class = "form-control", placeholder = "Insert commentary on how this is applicable if required", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.OT1TimeCodeNote, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OT2TimeCodeNote, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.OT2TimeCodeNote, new { htmlAttributes = new { @class = "form-control", placeholder = "Insert commentary on how this is applicable if required", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.OT2TimeCodeNote, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OT3TimeCodeNote, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.OT3TimeCodeNote, new { htmlAttributes = new { @class = "form-control", placeholder = "Insert commentary on how this is applicable if required", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.OT3TimeCodeNote, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OT4TimeCodeNote, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.OT4TimeCodeNote, new { htmlAttributes = new { @class = "form-control", placeholder = "Insert commentary on how this is applicable if required", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.OT4TimeCodeNote, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OT5TimeCodeNote, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.OT5TimeCodeNote, new { htmlAttributes = new { @class = "form-control", placeholder = "Insert commentary on how this is applicable if required", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.OT5TimeCodeNote, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OT6TimeCodeNote, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.OT6TimeCodeNote, new { htmlAttributes = new { @class = "form-control", placeholder = "Insert commentary on how this is applicable if required", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.OT6TimeCodeNote, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OT7TimeCodeNote, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.OT7TimeCodeNote, new { htmlAttributes = new { @class = "form-control", placeholder = "Insert commentary on how this is applicable if required", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.OT7TimeCodeNote, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TimesheetComments, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.TimesheetComments, new { htmlAttributes = new { @class = "form-control", placeholder = "Insert commentary on if and how timesheet comments are to be captured", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.TimesheetComments, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="pull-right">
            <input type="submit" value="SaveNotes" class="btn btn-primary" />
        </div>

    </div>
}

<a href="@Url.Action("Index", "Manage")" class="btn btn-primary">Back</a>