@using eTimeTrack.Controllers
@using eTimeTrack.Helpers
@model eTimeTrack.Models.ProjectGuidanceNotes

@{
    ViewBag.Title = "Project Guidance Notes";
}

@Html.Partial("_Banner")
@Html.Partial("_InfoMessageRender")
@using (Html.BeginForm("Create", "GuidanceNotes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProjectId)
    @Html.HiddenFor(model => model.GuidanceNoteId)

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-4">
                Time Administrator Contact
                <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="Insert email address of eTT Time Administrator for the project">
                    <i class='glyphicon glyphicon-info-sign'></i>
                </a>
            </label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.TimeAdministratorContact, new { htmlAttributes = new { @class = "form-control", placeholder = "", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.TimeAdministratorContact, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                Online notes used with WBS codes
                <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="Yes or No with any commentary">
                    <i class='glyphicon glyphicon-info-sign'></i>
                </a>
            </label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.WBSCodes, new { htmlAttributes = new { @class = "form-control", placeholder = "", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.WBSCodes, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                Cap weekly hours at
                <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="Insert any hours caps and provide additional commentary">
                    <i class='glyphicon glyphicon-info-sign'></i>
                </a>
            </label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.CapWeeklyHours, new { htmlAttributes = new { @class = "form-control", placeholder = "", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.CapWeeklyHours, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                Match hours to home office timesheet?
                <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="Yes or no with commentary if needed">
                    <i class='glyphicon glyphicon-info-sign'></i>
                </a>
            </label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.MatchHours, new { htmlAttributes = new { @class = "form-control", placeholder = "", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.MatchHours, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                Overtime Approval requirements
                <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="Insert commentary including email if applicable">
                    <i class='glyphicon glyphicon-info-sign'></i>
                </a>
            </label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.OvertimeApproval, new { htmlAttributes = new { @class = "form-control", placeholder = "", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.OvertimeApproval, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                NT Time Code Note
                <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="Insert commentary on how this is applicable if required">
                    <i class='glyphicon glyphicon-info-sign'></i>
                </a>
            </label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.NTTimeCodeNote, new { htmlAttributes = new { @class = "form-control", placeholder = "", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.NTTimeCodeNote, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                OT1 Time Code Note
                <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="Insert commentary on how this is applicable if required">
                    <i class='glyphicon glyphicon-info-sign'></i>
                </a>
            </label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.OT1TimeCodeNote, new { htmlAttributes = new { @class = "form-control", placeholder = "", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.OT1TimeCodeNote, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                OT2 Time Code Note
                <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="Insert commentary on how this is applicable if required">
                    <i class='glyphicon glyphicon-info-sign'></i>
                </a>
            </label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.OT2TimeCodeNote, new { htmlAttributes = new { @class = "form-control", placeholder = "", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.OT2TimeCodeNote, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                OT3 Time Code Note
                <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="Insert commentary on how this is applicable if required">
                    <i class='glyphicon glyphicon-info-sign'></i>
                </a>
            </label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.OT3TimeCodeNote, new { htmlAttributes = new { @class = "form-control", placeholder = "", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.OT3TimeCodeNote, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                OT4 Time Code Note
                <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="Insert commentary on how this is applicable if required">
                    <i class='glyphicon glyphicon-info-sign'></i>
                </a>
            </label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.OT4TimeCodeNote, new { htmlAttributes = new { @class = "form-control", placeholder = "", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.OT4TimeCodeNote, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                OT5 Time Code Note
                <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="Insert commentary on how this is applicable if required">
                    <i class='glyphicon glyphicon-info-sign'></i>
                </a>
            </label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.OT5TimeCodeNote, new { htmlAttributes = new { @class = "form-control", placeholder = "", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.OT5TimeCodeNote, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                OT6 Time Code Note
                <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="Insert commentary on how this is applicable if required">
                    <i class='glyphicon glyphicon-info-sign'></i>
                </a>
            </label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.OT6TimeCodeNote, new { htmlAttributes = new { @class = "form-control", placeholder = "", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.OT6TimeCodeNote, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                OT7 Time Code Note
                <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="Insert commentary on how this is applicable if required">
                    <i class='glyphicon glyphicon-info-sign'></i>
                </a>
            </label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.OT7TimeCodeNote, new { htmlAttributes = new { @class = "form-control", placeholder = "", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.OT7TimeCodeNote, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                Timesheet Comments
                <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="Insert commentary on if and how timesheet comments are to be captured">
                    <i class='glyphicon glyphicon-info-sign'></i>
                </a>
            </label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.TimesheetComments, new { htmlAttributes = new { @class = "form-control", placeholder = "", style = "max-width:70%" } })
                @Html.ValidationMessageFor(model => model.TimesheetComments, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="pull-right">
            <input type="submit" value="SaveNotes" class="btn btn-primary" />
        </div>

    </div>
}

<a href="@Url.Action("Index", "Manage")" class="btn btn-primary">Back</a>