@using eTimeTrack.Controllers
@using eTimeTrack.Extensions
@using eTimeTrack.Helpers
@using eTimeTrack.ViewModels
@model TimesheetApprovalViewModel

@{
    ViewBag.Title = "Timesheet Approval";
}

@Html.Partial("_Banner")
@Html.Partial("_InfoMessageRender")

@using (Html.BeginForm("ApproveTimesheet", "TimesheetApproval", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row" style="height:100%; position: relative;">
        <div class="col-md-4" style="position: absolute; bottom: 2em; right: 1px">
            <div class="pull-right">
                <button type="button" class="btn btn-primary checkAll">Toggle Select All (Current Page)</button>
            </div>
        </div>
    </div>

    <table class="table data-table" width="100%" id="UpdateTable">
        <thead>
            <tr>
                <th>Week Ending</th>
                <th>Task No</th>
                <th>Var No</th>
                <th>Emp Name</th>
                <th>Time Code</th>
                <th>S</th>
                <th>S</th>
                <th>M</th>
                <th>T</th>
                <th>W</th>
                <th>T</th>
                <th>F</th>
                <th>Reviewer Queries</th>
                <th data-orderable="false">Tick Box</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.timesheetApprovaldetails.Count; i++)
            {
                <tr id="@Model.timesheetApprovaldetails[i].TimesheetItemID">
                    <td style="text-wrap: nowrap;">
                        @Model.timesheetApprovaldetails[i].EndDate.ToShortDateString()
                        @if (Model.timesheetApprovaldetails[i].Comments != null)
                        {
                            <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].Comments">
                                <i class='glyphicon glyphicon-info-sign'></i>
                            </a>
                        }
                    </td>
                    <td>
                        @Model.timesheetApprovaldetails[i].TaskNo
                        <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].Name">
                            <i class='glyphicon glyphicon-info-sign'></i>
                        </a>
                    </td>
                    <td>
                        @Model.timesheetApprovaldetails[i].VariationNo
                        <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].Description">
                            <i class='glyphicon glyphicon-info-sign'></i>
                        </a>
                    </td>
                    <td>@Model.timesheetApprovaldetails[i].Names</td>
                    <td>
                        @Model.timesheetApprovaldetails[i].Timecodes
                        <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].TimecodesName">
                            <i class='glyphicon glyphicon-info-sign'></i>
                        </a>
                    </td>
                    <td>
                        @Model.timesheetApprovaldetails[i].Day1Hrs
                        @if (Model.timesheetApprovaldetails[i].Day1Comments != null)
                        {
                            <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].Day1Comments">
                                <i class='glyphicon glyphicon-info-sign'></i>
                            </a>
                        }

                    </td>
                    <td>
                        @Model.timesheetApprovaldetails[i].Day2Hrs
                        @if (Model.timesheetApprovaldetails[i].Day2Comments != null)
                        {
                            <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].Day2Comments">
                                <i class='glyphicon glyphicon-info-sign'></i>
                            </a>
                        }
                    </td>
                    <td>
                        @Model.timesheetApprovaldetails[i].Day3Hrs
                        @if (Model.timesheetApprovaldetails[i].Day3Comments != null)
                        {
                            <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].Day3Comments">
                                <i class='glyphicon glyphicon-info-sign'></i>
                            </a>
                        }
                    </td>
                    <td>
                        @Model.timesheetApprovaldetails[i].Day4Hrs
                        @if (Model.timesheetApprovaldetails[i].Day4Comments != null)
                        {
                            <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].Day4Comments">
                                <i class='glyphicon glyphicon-info-sign'></i>
                            </a>
                        }
                    </td>
                    <td>
                        @Model.timesheetApprovaldetails[i].Day5Hrs
                        @if (Model.timesheetApprovaldetails[i].Day5Comments != null)
                        {
                            <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].Day5Comments">
                                <i class='glyphicon glyphicon-info-sign'></i>
                            </a>
                        }
                    </td>
                    <td>
                        @Model.timesheetApprovaldetails[i].Day6Hrs
                        @if (Model.timesheetApprovaldetails[i].Day6Comments != null)
                        {
                            <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].Day6Comments">
                                <i class='glyphicon glyphicon-info-sign'></i>
                            </a>
                        }
                    </td>
                    <td>
                        @Model.timesheetApprovaldetails[i].Day7Hrs
                        @if (Model.timesheetApprovaldetails[i].Day7Comments != null)
                        {
                            <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].Day7Comments">
                                <i class='glyphicon glyphicon-info-sign'></i>
                            </a>
                        }
                    </td>
                    <td>
                        <div class="tcomment-readonly-container">
                            <div class="row">
                                <div class="col-xs-10" style="width:225px">
                                    <div class="tcomment-readonly" style="display: inline;">@Html.DisplayFor(modelItem => modelItem.timesheetApprovaldetails[i].Reviewercomments)</div>
                                    <a class="btn btn-default tcomment-edit pull-right" title="Edit comment">
                                        <i class='glyphicon glyphicon-edit'></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="tedit-comment-container" style="display: none;">
                            <div class="row">
                                <div class="col-xs-10">
                                    @Html.TextAreaFor(modelItem => modelItem.timesheetApprovaldetails[i].Reviewercomments, new { @class = "form-control tcomment", style = "display: inline;max-width: none;" })
                                </div>
                                <div class="col-xs-2">
                                    <a class="btn btn-default tcomment-save pull-right" title="Save comment changes">
                                        <i class='glyphicon glyphicon-ok'></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.timesheetApprovaldetails[i].IsApproval)
                    </td>

                    @Html.HiddenFor(model => model.timesheetApprovaldetails[i].TimesheetItemID)

                </tr>
            }
        </tbody>
    </table>

    <div class="pull-right">
        <input type="submit" id="submit" value="Approve" class="btn btn-primary" />
    </div>
    <a href="@Url.Action("Index", "Manage")" class="btn btn-primary">Back</a>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/notify")

    <script>

        $(document).ready(function () {

            // intercept form submission if no hours entered
            $("#submit").click(function () {
                var dataTable = $('#UpdateTable').DataTable();
                dataTable.search('').draw();
                dataTable.page.len(-1).draw();
                return true;
            });

            $(".checkAll").click(function () {
                var firstChecked = $('input:checkbox').first().is(':checked');
                $('input:checkbox').prop('checked', !firstChecked);
            });
            $('#UpdateTable').DataTable().on("draw", function () {
                $('[data-toggle="tooltip"]').tooltip();
            });

            $('#UpdateTable').off().on('draw.dt', function () {
                setupChangeActions();
            });

            setupChangeActions();

        });

          function setupChangeActions() {
              $('.tcomment-edit').off().on('click', function () {
                var editButton = $(this);
                var tableCell = editButton.closest('td');
                var editCommentContainer = tableCell.find('.tedit-comment-container');
                var readonlyComment = tableCell.find('.tcomment-readonly');
                //var saveButton = tableCell.find('comment-save');

                readonlyComment.hide();
                editButton.hide();
                //saveButton.show();
                editCommentContainer.show();
            });

              $('.tcomment-save').off().on('click', function () {
                var saveButton = $(this);
                var tableCell = saveButton.closest('td');
                var editCommentContainer = tableCell.find('.tedit-comment-container');
                var tableRow = saveButton.closest('tr');
                var readonlyComment = tableCell.find('.tcomment-readonly');
                var id = tableRow.attr('id');

                var editButton = tableCell.find('.tcomment-edit');
                var commentElement = tableCell.find('.tcomment');
                var commentText = commentElement.val();

                editButton.show();
                //saveButton.hide();
                readonlyComment.text(commentText);
                readonlyComment.show();
                editCommentContainer.hide();

                $.post('@Url.Action("SaveComment")', { id: id, comment: commentText }).done(function (saved) {
                    if (saved) {
                        tableRow.notify("Comment saved", { position: "right", className: "success", autoHideDelay: 6000 });
                    } else {
                        tableRow.notify("Comment could not be saved", { position: "right", className: "warning", autoHideDelay: 6000 });
                    }
                });
            });
        }

    </script>
}