@using eTimeTrack.Controllers
@using eTimeTrack.Extensions
@using eTimeTrack.Helpers
@using eTimeTrack.ViewModels
@model TimesheetApprovalViewModel

@{
    ViewBag.Title = "Delete Zero Timesheet Items";
}
@Html.Partial("_InfoMessageRender")
@Html.Partial("_Banner")

@using (Html.BeginForm("DeleteConfirmed", "DeleteZeroTimesheetItems", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row" style="height:100%; position: relative;">
        <div class="col-md-4" style="position: absolute; bottom: 2em; right: 1px">
            <div class="pull-right">
                <button type="button" class="btn btn-primary checkAll">Toggle Select All (Current Page)</button>
            </div>
        </div>
    </div>

    <table class="table data-table" width="100%" id="DeleteZeroTable">
        <thead>
            <tr>
                <th>Week Ending</th>
                <th>Task No</th>
                <th>Var No</th>
                <th>Emp Name</th>
                <th>Time Code</th>
                <th>S</th>
                <th>S</th>
                <th>M</th>
                <th>T</th>
                <th>W</th>
                <th>T</th>
                <th>F</th>
                <th data-orderable="false">Delete</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.timesheetApprovaldetails.Count; i++)
            {
                <tr id="@Model.timesheetApprovaldetails[i].TimesheetItemID">
                    <td style="text-wrap: nowrap;">
                        @Model.timesheetApprovaldetails[i].EndDate.ToString("dd-MM-yyyy")
                        @if (Model.timesheetApprovaldetails[i].Comments != null)
                        {
                            <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].Comments">
                                <i class='glyphicon glyphicon-info-sign'></i>
                            </a>
                        }
                    </td>
                    <td>
                        @Model.timesheetApprovaldetails[i].TaskNo
                        <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].Name">
                            <i class='glyphicon glyphicon-info-sign'></i>
                        </a>
                    </td>
                    <td>
                        @Model.timesheetApprovaldetails[i].VariationNo
                        <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].Description">
                            <i class='glyphicon glyphicon-info-sign'></i>
                        </a>
                    </td>
                    <td>@Model.timesheetApprovaldetails[i].Names</td>
                    <td>
                        @Model.timesheetApprovaldetails[i].Timecodes
                        <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].TimecodesName">
                            <i class='glyphicon glyphicon-info-sign'></i>
                        </a>
                    </td>
                    <td>
                        @Model.timesheetApprovaldetails[i].Day1Hrs
                        @if (Model.timesheetApprovaldetails[i].Day1Comments != null)
                        {
                            <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].Day1Comments">
                                <i class='glyphicon glyphicon-info-sign'></i>
                            </a>
                        }

                    </td>
                    <td>
                        @Model.timesheetApprovaldetails[i].Day2Hrs
                        @if (Model.timesheetApprovaldetails[i].Day2Comments != null)
                        {
                            <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].Day2Comments">
                                <i class='glyphicon glyphicon-info-sign'></i>
                            </a>
                        }
                    </td>
                    <td>
                        @Model.timesheetApprovaldetails[i].Day3Hrs
                        @if (Model.timesheetApprovaldetails[i].Day3Comments != null)
                        {
                            <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].Day3Comments">
                                <i class='glyphicon glyphicon-info-sign'></i>
                            </a>
                        }
                    </td>
                    <td>
                        @Model.timesheetApprovaldetails[i].Day4Hrs
                        @if (Model.timesheetApprovaldetails[i].Day4Comments != null)
                        {
                            <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].Day4Comments">
                                <i class='glyphicon glyphicon-info-sign'></i>
                            </a>
                        }
                    </td>
                    <td>
                        @Model.timesheetApprovaldetails[i].Day5Hrs
                        @if (Model.timesheetApprovaldetails[i].Day5Comments != null)
                        {
                            <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].Day5Comments">
                                <i class='glyphicon glyphicon-info-sign'></i>
                            </a>
                        }
                    </td>
                    <td>
                        @Model.timesheetApprovaldetails[i].Day6Hrs
                        @if (Model.timesheetApprovaldetails[i].Day6Comments != null)
                        {
                            <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].Day6Comments">
                                <i class='glyphicon glyphicon-info-sign'></i>
                            </a>
                        }
                    </td>
                    <td>
                        @Model.timesheetApprovaldetails[i].Day7Hrs
                        @if (Model.timesheetApprovaldetails[i].Day7Comments != null)
                        {
                            <a class='tool-tip' data-toggle="tooltip" data-placement="right" title="@Model.timesheetApprovaldetails[i].Day7Comments">
                                <i class='glyphicon glyphicon-info-sign'></i>
                            </a>
                        }
                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.timesheetApprovaldetails[i].IsDeleted)
                    </td>

                    @Html.HiddenFor(model => model.timesheetApprovaldetails[i].TimesheetItemID)

                </tr>
            }
        </tbody>
    </table>
    <div class="pull-right">
        <input type="submit" id="submit" value="Delete" class="btn btn-primary" />
    </div>
    <a href="@Url.Action("Index", "Manage")" class="btn btn-primary">Back</a>
}
@section Scripts
{
    @Scripts.Render("~/bundles/notify")
    <script>
        $(document).ready(function () {
            $('#DeleteZeroTable').DataTable().on("draw", function () {
                $('[data-toggle="tooltip"]').tooltip();
            });

            $("#submit").click(function () {
                var dataTable = $('#DeleteZeroTable').DataTable();
                dataTable.search('').draw();
                dataTable.page.len(-1).draw();
                return true;
            });

            $(".checkAll").click(function () {
                var firstChecked = $('input:checkbox').first().is(':checked');
                $('input:checkbox').prop('checked', !firstChecked);
            });

        });
    </script>
}

