@using eTimeTrack.Helpers
@using eTimeTrack.Models
@model eTimeTrack.ViewModels.ExpensesMappingViewModel

@{
    ViewBag.Title = "Expenses Mapping";
    ViewBag.BannerColour = AecomColour.Blue;
}

@Html.Partial("_Banner")
@Html.Partial("_InfoMessageRender")

<table class="table data-table" width="100%">
    <thead>
        <tr>
            <th>Project Expense Type</th>
            <th>Std Expense Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ExpensesMappingDetails)
        {
            <tr>
                <td>@item.ExpenseType</td>
                <td>
                    @Html.DropDownListFor(modelItem => item.StdExpTypeID, new SelectList(Model.StdExpenseTypes, "Value", "Text", item.StdExpTypeID), new { @class = "form-control select-StdExpense" })
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Index", "Manage")" class="btn btn-primary">Back</a>

@section Scripts {

    @Scripts.Render("~/bundles/notify")

    <script>
        $(document).ready(function () {
            $('body').on('change', '.select-StdExpense', function () {
                var dropdown = $(this);
                dropdown.notify("Please don't change the value", { position: "right bottom", className: "success", autoHideDelay: 3000 });
            });
        });

    </script>

}