@using eTimeTrack.Helpers
@model eTimeTrack.ViewModels.EmployeeProjectDetailsViewModel

@{
    ViewBag.Title = "Project User Details";
    ViewBag.BannerColour = AecomColour.Blue;
}

@*@Html.Partial("_Banner")*@

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Project User Details</h4>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="modal-body">

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.EmployeeID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.EmployeeNo, new { @class = "control-label col-md-2" })
                        <div class="col-md-10 bottom-align-text">
                            @Html.DisplayFor(model => model.EmployeeNo)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Names, new { @class = "control-label col-md-2" })
                        <div class="col-md-10 bottom-align-text">
                            @Html.DisplayFor(model => model.Names)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EmailAddress, new { @class = "control-label col-md-2" })
                        <div class="col-md-10 bottom-align-text">
                            @Html.DisplayFor(model => model.EmailAddress)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectUserTypeID, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ProjectUserTypeID", (SelectList)ViewBag.AvailableProjectUserTypes, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectRole, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(x => x.ProjectRole, new { @class = "form-control", placeholder = "Enter Project Role", maxlength = 50 })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectDisciplineID, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ProjectDisciplineID", (SelectList)ViewBag.AvailableProjectDisciplines, new { @class = "form-control" })
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <input type="submit" value="Save" id="submit" class="btn btn-primary"/>
            </div>
        }
    </div>
</div>

<script>
    $(function () {
        $('#submit').on('click', function (evt) {
            evt.preventDefault();
            $.post('@Url.Action("Details")', $('form').serialize()).done(function (result) {
                $('#projectUserDetailsModal').modal('hide');
                location.reload();
            });
        });
    });
</script>