@using eTimeTrack.Helpers
@using eTimeTrack.Models
@model eTimeTrack.ViewModels.ExportTimesheetsIndexViewModel

@{
    ViewBag.Title = "Project Level - Export Timesheets";
    ViewBag.BannerColour = AecomColour.Blue;
}
@Html.Partial("_Banner")
@Html.Partial("_InfoMessageRender")

@using (Html.BeginForm("PrintPDF", "ExportTimesheets", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                <label for="ProjectID">Project</label>
                @Html.DropDownListFor(model => model.ProjectID, Model.ProjectList, "Select", new { id = "ProjectSelector", @class = "form-control", required = true })
            </div>

            <div class="form-group">
                <label for="TimesheetPeriodID">Timesheet Period</label>
                @Html.DropDownListFor(model => model.TimesheetPeriodID, (IEnumerable<SelectListItem>)ViewBag.TimesheetPeriods, "Select", new { @class = "form-control longTimePeriodDropdown" })
                @Html.ValidationMessageFor(model => model.TimesheetPeriodID, "", new { @class = "text-danger" })
            </div>

        </div>
        @*<div class="pull-right">
            <input type="submit" value="Print PDF" id="submit" class="btn btn-primary" />
        </div>
        <a href="@Url.Action("Index")" class="btn btn-primary">Back</a>*@
    </div>
}


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

}