@using eTimeTrack.Extensions
@using eTimeTrack.Helpers
@using eTimeTrack.ViewModels
@model List<ReconciliationSummaryIndexViewModel>

@{
    ViewBag.Title = "Reconciliation Summary";
    ViewBag.BannerColour = AecomColour.Blue;
}

@Html.Partial("_Banner")
@Html.Partial("_InfoMessageRender")

<table class="table data-table" width="100%">
    <thead>
    <tr>
        <th>Date Range</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
        @foreach (ReconciliationSummaryIndexViewModel item in Model)
        {
            <tr>
                <td>@(item.TimesheetPeriod.GetStartEndDates())</td>
                <td>
                    <a href='@Url.Action("Details", "ReconciliationSummary", new {timesheetPeriodId = item.TimesheetPeriod.TimesheetPeriodID})' class="btn btn-primary" role="button"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Index", "Manage")" class="btn btn-primary">Back</a>
