@using eTimeTrack.Extensions
@using eTimeTrack.Helpers
@using eTimeTrack.ViewModels
@model List<ReconciliationSummaryIndexViewModel>

@{
    ViewBag.Title = "Reconciliation Summary";
    ViewBag.BannerColour = AecomColour.Blue;
}

@Html.Partial("_Banner")
@Html.Partial("_InfoMessageRender")


<div class="row">
    <div class="col-md-4 form-group">
        <label>Company Filter</label>
        @Html.DropDownList("companyId", new SelectList(ViewBag.Companies, "Value", "Text"), "All", new { @class = "form-control", id = "companyDropdown" })
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>
<table class="table data-table" width="100%">
    <thead>
        <tr>
            <th>Date Range</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ReconciliationSummaryIndexViewModel item in Model)
        {
            <tr>
                <td>@(item.TimesheetPeriod.GetStartEndDates())</td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="GotoDetails(@item.TimesheetPeriod.TimesheetPeriodID)"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Index", "Manage")" class="btn btn-primary">Back</a>

@section Scripts {
    @Scripts.Render("~/bundles/notify")
    <script>
        function GotoDetails(TimesheetPeriodID) {
            var companyId = $('#companyDropdown').val();
            window.location = '/ReconciliationSummary/Details?timesheetPeriodId=' + TimesheetPeriodID + '&companyId=' + companyId;
        }
    </script>
}