@using eTimeTrack.Helpers
@model eTimeTrack.ViewModels.UserRateDetailsViewModel

@{
    ViewBag.Title = "User Rates";
    ViewBag.BannerColour = AecomColour.Blue;
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">User Rates</h4>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="modal-body">

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.EmployeeID)
                    @*@Html.HiddenFor(model => model.EmployeeNo)
                        @Html.HiddenFor(model => model.EmailAddress)
                        @Html.HiddenFor(model => model.Names)
                        @Html.HiddenFor(model => model.ProjectID)*@

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.EmployeeNo, new { @class = "control-label" })
                        </div>
                        <div class="col-md-2 bottom-align-text">
                            @Html.DisplayFor(model => model.EmployeeNo)
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Names, new { @class = "control-label" })
                        </div>
                        <div class="col-md-4 bottom-align-text">
                            @Html.DisplayFor(model => model.Names)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker", @readonly = true, @placeholder = "Select Start date" } })

                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker", @readonly = true, @placeholder = "Select End date" } })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.ProjectUserClassificationID, new { @class = "control-label" })
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownList("ProjectUserClassificationID", (SelectList)ViewBag.AvailableProjectUserClassifications, "-- Select --", new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.IsRatesConfirmed, new { @class = "control-label" })
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsRatesConfirmed)
                                @Html.ValidationMessageFor(model => model.IsRatesConfirmed, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                </div>

                <div>
                    <table class="table table-bordered">
                        <colgroup>
                            <col class="grey" />
                            <col class="red" />
                            <col class="blue" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">Time Codes</th>
                                <th scope="col">Fee Rates</th>
                                <th scope="col">Cost Rates</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">NT</th>
                                <td>@Html.TextBoxFor(x => x.NTFeeRate, new { @class = "form-control", placeholder = "Enter NT Fee Rate", maxlength = 50 })</td>
                                <td>@Html.TextBoxFor(x => x.NTCostRate, new { @class = "form-control", placeholder = "Enter NT Cost Rate", maxlength = 50 })</td>
                            </tr>
                            <tr>
                                <th scope="row">OT1</th>
                                <td>@Html.TextBoxFor(x => x.OT1FeeRate, new { @class = "form-control", placeholder = "Enter OT1 Fee Rate", maxlength = 50 })</td>
                                <td>@Html.TextBoxFor(x => x.OT1CostRate, new { @class = "form-control", placeholder = "Enter OT1 Cost Rate", maxlength = 50 })</td>
                            </tr>
                            <tr>
                                <th scope="row">OT2</th>
                                <td>@Html.TextBoxFor(x => x.OT2FeeRate, new { @class = "form-control", placeholder = "Enter OT2 Fee Rate", maxlength = 50 })</td>
                                <td>@Html.TextBoxFor(x => x.OT2CostRate, new { @class = "form-control", placeholder = "Enter OT2 Cost Rate", maxlength = 50 })</td>
                            </tr>
                            <tr>
                                <th scope="row">OT3</th>
                                <td>@Html.TextBoxFor(x => x.OT3FeeRate, new { @class = "form-control", placeholder = "Enter OT3 Fee Rate", maxlength = 50 })</td>
                                <td>@Html.TextBoxFor(x => x.OT3CostRate, new { @class = "form-control", placeholder = "Enter OT3 Cost Rate", maxlength = 50 })</td>
                            </tr>
                            <tr>
                                <th scope="row">OT4</th>
                                <td>@Html.TextBoxFor(x => x.OT4FeeRate, new { @class = "form-control", placeholder = "Enter OT4 Fee Rate", maxlength = 50 })</td>
                                <td>@Html.TextBoxFor(x => x.OT4CostRate, new { @class = "form-control", placeholder = "Enter OT4 Cost Rate", maxlength = 50 })</td>
                            </tr>
                            <tr>
                                <th scope="row">OT5</th>
                                <td>@Html.TextBoxFor(x => x.OT5FeeRate, new { @class = "form-control", placeholder = "Enter OT5 Fee Rate", maxlength = 50 })</td>
                                <td>@Html.TextBoxFor(x => x.OT5CostRate, new { @class = "form-control", placeholder = "Enter OT5 Cost Rate", maxlength = 50 })</td>
                            </tr>
                            <tr>
                                <th scope="row">OT6</th>
                                <td>@Html.TextBoxFor(x => x.OT6FeeRate, new { @class = "form-control", placeholder = "Enter OT6 Fee Rate", maxlength = 50 })</td>
                                <td>@Html.TextBoxFor(x => x.OT6CostRate, new { @class = "form-control", placeholder = "Enter OT6 Fee Rate", maxlength = 50 })</td>
                            </tr>
                            <tr>
                                <th scope="row">OT7</th>
                                <td>@Html.TextBoxFor(x => x.OT7FeeRate, new { @class = "form-control", placeholder = "Enter OT7 Fee Rate", maxlength = 50 })</td>
                                <td>@Html.TextBoxFor(x => x.OT7CostRate, new { @class = "form-control", placeholder = "Enter OT7 Cost Rate", maxlength = 50 })</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <input type="submit" value="Save" id="submit" class="btn btn-primary" />
            </div>
        }
    </div>
</div>
@*@Html.Partial("_Banner")*@

    

<script>
    $(function () {

        //$(document).ready(function () {
        //    $('.datepicker').datepicker({
        //        dateFormat: "dd/M/yy", changeMonth: true,
        //        changeYear: true, yearRange: "-60:+0"
        //    }).val('');
        //});
        $(document).ready(function () {
            $('.datepicker').each(function () {
                $(this).datepicker({
                    dateFormat: "dd/M/yy",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-60:+0"
                });
            });
        });

        $('#submit').on('click', function (evt) {
            evt.preventDefault();
            $.post('@Url.Action("Details")', $('form').serialize()).done(function (result) {
                $('#projectUserRatesModal').modal('hide');
                location.reload();
            });
        });
    });

    //$('.datepicker').datepicker({
    //    dateFormat: "dd/M/yy",
    //    changeMonth: true,
    //    changeYear: true,
    //    yearRange: "-60:+0",
    //    //showOtherMonths: true,
    //    //selectOtherMonths: true,
    //    //showButtonPanel: true,
    //    //changeMonth: true,
    //    //changeYear: true,
    //    //gotoCurrent: true,
    //});
    //}).datepicker("setDate", new Date());
</script>
<style type="text/css">
    .red {
        background-color: rgba(255,0,0,.25);
    }

    .blue {
        background-color: rgba(0,0,255,.25);
    }
</style>


