@using eTimeTrack.Helpers
@using eTimeTrack.Models
@model eTimeTrack.ViewModels.UserRateIndexUserVm
@{
    ViewBag.Title = "User Rates";
    ViewBag.BannerColour = AecomColour.Blue;
}

<div class="modal fade" id="projectUserRatesModal" tabindex="-1" role="dialog"></div>
<div class="modal fade" id="projectUserRatesEntryModal" tabindex="-1" role="dialog"></div>

@Html.Partial("_Banner")

<table class="table data-table" width="100%">
    <thead>
        <tr>
            <th data-priority="1">Employee Number</th>
            <th data-priority="1">Name</th>
            <th data-priority="3" data-orderable="false">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (EmployeeProject item in Model.EmployeeProjects)
        {
            <tr data-user-id="@item.EmployeeId">
                <td>@Html.DisplayFor(modelItem => item.Employee.EmployeeNo)</td>
                <td>@Html.DisplayFor(modelItem => item.Employee.Names)</td>
                <td>
                    @*<a href='@Url.Action("Details", new {employeeId = item.EmployeeId})' class="btn btn-primary modal-link" role="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>*@

                    @*<a href='@Url.Action("EditUserRates", new {employeeId = item.EmployeeId})' class="btn btn-primary" role="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>*@
                    @*<a href='@Url.Action("EditUserRates2", new {employeeId = item.EmployeeId})' class="btn btn-primary" role="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>*@
                    <a href='@Url.Action("EditUserRates3", new {employeeId = item.EmployeeId})' class="btn btn-primary" role="button"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>

                    @*<a href='@Url.Action("RatesDetails", new {employeeId = item.EmployeeId})' class="btn btn-primary modal-link" role="button"><span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span></a>*@
                </td>
                
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Index", "Manage")" class="btn btn-primary">Back</a>


@section Scripts {

    @Scripts.Render("~/bundles/notify")

    <script>

    var projectId = @ViewBag.ProjectId;

    $(document).ready(function() {

        $('body').on('click', '.modal-link', function(e) {
            e.preventDefault();
            $(this).attr('data-target', '#projectUserRatesModal');
            $(this).attr('data-target', '#projectUserRatesEntryModal');
            $(this).attr('data-toggle', 'modal');
        });

        $('#projectUserRatesModal').on('hidden.bs.modal',
            function() {
                $(this).removeData('bs.modal');
            });
        $('#projectUserRatesEntryModal').on('hidden.bs.modal',
            function () {
                $(this).removeData('bs.modal');
            });
    });
    </script>

}