@using eTimeTrack.Extensions
@using eTimeTrack.ViewModels
@model ShowSearchWPSViewModel

@{
    ViewBag.Title = "Search WBS";
}

@Html.Partial("_Banner")
@Html.Partial("_InfoMessageRender")
<div class="row">
    <div class="col-md-6 form-group">
        <label>Project: </label>
        @Html.Hidden("ProjectSelector", Session["SelectedProject"])
        <label>@Session["SelectedProjectName"]</label>
    </div>
    <div class="col-md-6">
        <label>Hide Closed</label>
        @Html.CheckBoxFor(model => Model.HideClosed, new { id = "filter-closed", style = "width: 40px" })
    </div>

</div>

<table class="table table-striped table-hover data-table" width="100%">
    <thead>
        <tr>
            <th>Task Number</th>
            <th>Task Name</th>
            <th>Variation Number</th>
            <th>Variation Name</th>
            <th data-orderable="false">Task Closed</th>
            <th data-orderable="false">Variation Closed</th>
            <th data-orderable="false">Var Item Closed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.searchWPS)
        {
            <tr>
                <td>@item.TaskNo </td>
                <td>@item.TaskName </td>
                <td>@item.VariationNo </td>
                <td>@item.VariationName </td>
                <td>@Html.CheckBoxFor(m => item.TaskIsClosed, new { onclick = "return false" })</td>
                <td>@Html.CheckBoxFor(m => item.VariationIsClosed, new { onclick = "return false" })</td>
                <td>@Html.CheckBoxFor(m => item.VarItemIsClosed, new { onclick = "return false" })</td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Index", "Manage")" class="btn btn-primary">Back</a>

@section Scripts {
    @Scripts.Render("~/bundles/notify")
    <script>
        $(document).ready(function () {

            $('#filter-closed').change(function () {
                updatePage();
            });

        });

        function updatePage() {
            var completeFilter = $('#filter-closed').is(":checked");
            window.location = 'SearchWBS?hideClosed=' + completeFilter;
        }
    </script>
}